body {
    background-color: #107C41; /* Verde do Xbox como base */
    background-color: #121212; /* Cinza bem escuro para o fundo principal */
}

h1 {
    color: #107C41; /* Verde oficial do Xbox para o título */
    font-size: 75px;
}